body{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .three{
    top : 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    margin: 0 auto;
    width: 265px;
    text-align: center;
    border: 10px solid rgb(215, 229, 112);
    background: rgb(51, 154, 54);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
    
    }
    .four{
    background-color: rgb(234, 200, 165);
    border: solid 3px rgb(102, 62, 23);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    
    }
    .five{
    background-color: rgb(222, 185, 185);
    }
    .one{
    padding-top: 30px;
    }
    .two{
    width: -webkit-fill-available;
    height: 71px;
    font-size: 45px;
    background-color: rgb(247, 231, 231);
    color: black;
    }
    .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px,auto);
    }
    #equal{
    grid-row: 2/5;
    grid-column: 4;
    }
    button{
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    }